$fontstack = "Lato", "Helvetica Neue", "Calibri Light", Roboto, sans-serif

*, *::before, *::after
  box-sizing border-box

html
  font-size 62.5%

body, html
  margin 0
  padding 0
  overflow hidden

body
  font 1.6rem/2rem $fontstack
